.i_container {
    margin: 50px auto 0px auto;
    text-align: center;
}

div.posts_container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: center;

    div.i_posts{
    border-style: dashed;
    border-color: #7b7b7b;
    padding: 10px;
    height: 400px;
    overflow-y: auto;

        div.i_lsposts{
            text-align: left;
        }

        div.i_paginator{
            letter-spacing: 1em;
            a{
                text-decoration: none;
                color: #7b7b7b;
            }
            a:hover{
                color: #cacaca;
            }
        }
    }

    div.find{
        text-align: left;
        height: 400px;
        padding: 10px;
        overflow-y: auto;
    }
}

.category-list-count{
    margin-left: 5px;
    font-size: 12px;
    color: #7b7b7b;
}
.archive-list-count{
    margin-left: 5px;
    font-size: 12px;
    color: #7b7b7b;
}


.i_h1{
    font-size: 35px;
    margin: 5px;
}


#toggle-btn {
    background-color: inherit;
    color: #7b7b7b;
    border: none;
    padding: 12px 24px;
    margin: 60px auto 10px auto;
    border-radius: 12px;
    width: fit-content;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
  }

#toggle-btn:hover {

    color: #e0e0e0
}
