.a_container{
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.article{
  width: 60%;
  padding: 20px;
  margin: 10px;
}

.article img {
  max-width: 80%;   /* 图片不会超过容器宽度 */
  height: auto;      /* 保持宽高比 */
  display: block;    /* 去掉底部空隙，常见优化 */
  margin: 1em auto;  /* 上下留白，并居中 */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.info{
  padding: 10px;
  /*border-color: #e5e5e5;
  border-style: dashed;*/
  display: inline-flex;
  flex-direction: column;
  max-width: 350px;
    
}

.info .textinfo{
  background-color: #2A2A2A;
  padding: 10px;
  margin-bottom: 40px;
}
.info .toc{
    
  
  padding: 10px;
  max-height: 600px;  
  position: sticky;
  top: 40px;
  a{
    color:lightseagreen;
  }
  a:hover{
    color:darkcyan;
  }
  span{
    color: #60A5FA;
    text-decoration-line: underline;
  }
  span:hover{
    color: #3B82F6;
  }
    
}

.info .toc ol{
  background-color: #2A2A2A;
  list-style: none;
  overflow: auto;
  
}
#sumtoc{
  font-size: 20px;
  color:lightseagreen;
}

.tgs{
  margin: 10px;
  margin-left: 0;
}

#tgs{
  background-color: rgb(96, 165, 250,0.2);
  color: #3B82F6;
  margin-right: 5px;
  border-radius: 10px;
  padding: 2px;
}
#tgs:hover{
  background-color: rgb(96, 165, 250,0.4);
}



/* 代码块整体 */


figure.highlight {
  margin: 1rem 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 1em auto;  /* 上下留白，并居中 */

}

.highlight, pre {
  position: relative;
}

.highlight table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  background:#1e1e1e;
  
}

.highlight td.code {
  width: 100%;
}

.highlight .gutter {
  width: 40px;
  padding-right: 0px;
  text-align: right;
  border-right: 1px solid #444;
  pre {
    color: #7b7b7b;
  }
}

.highlight pre {
  margin: 0;
  padding: 15px;
  overflow: auto;
  
  font-size: 14px !important;
  line-height: 1.6 !important;
}

.highlight code {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Fira Code", "JetBrains Mono", Consolas, monospace !important;
}



.article strong{
  background-color: goldenrod;
  color: #121212;
}


.article h2{
  text-decoration: underline;
  text-decoration-color: darkmagenta;
  text-decoration-thickness: bold;
}
.article h3{
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color:darkgreen;
  text-decoration-thickness: bold;
}