@media screen and (max-width: 768px) {

    .chart{
      display: none;
    }

    /* 文章中 */
    .article{
      width: 100%;
    }
    .info{
        display: none;
    }
    div.posts_container{
        flex-direction: column-reverse;
    }

    .highlight {
    margin: 0.8rem -15px;
    border-radius: 0;
    }

  .highlight pre {

    font-size: 13px;
    }

  .highlight .gutter {
    width: 30px;
    padding-right: 10px;
    pre {
      font-size: 12px;
    }
    }

  /* 在小屏幕上隐藏行号 */
  .highlight .gutter {
    display: none;
  }

  .highlight td.code {
    width: 100%;
  }


}